/.vs/WebAppTypescript/FileContentIndex
/.vs/ProjectEvaluation
/Typescript.Identity/bin/Debug/net8.0/Typescript.Identity.dll
/Typescript.Identity/bin/Debug/net8.0/Typescript.Identity.pdb
/Typescript.Identity/obj/Debug/net8.0/Typescript.Identity.AssemblyInfo.cs
/Typescript.Identity/obj/Debug/net8.0/Typescript.Identity.AssemblyInfoInputs.cache
/Typescript.Identity/obj/Debug/net8.0/Typescript.Identity.csproj.FileListAbsolute.txt
/Typescript.Identity/obj/Debug/net8.0/Typescript.Identity.dll
/Typescript.Identity/obj/Debug/net8.0/Typescript.Identity.pdb
*.json
/Typescript.Identity/obj/Debug/net8.0/refint/Typescript.Identity.dll
/Typescript.Identity/obj/Debug/net8.0/ref/Typescript.Identity.dll
*.config
/.vs/WebAppTypescript/DesignTimeBuild/.dtbcache.v2
/.vs/WebAppTypescript/v17/.futdcache.v2
/.vs/WebAppTypescript/v17/.suo
/.vs/WebAppTypescript/v17/DocumentLayout.json
/WebAppTypescript/obj/project.assets.json
/WebAppTypescript/obj/project.nuget.cache
/WebAppTypescript/obj/WebAppTypescriptApi.csproj.nuget.dgspec.json
/WebAppTypescript/obj/Debug/net8.0/apphost.exe
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.AssemblyInfo.cs
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.AssemblyInfoInputs.cache
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.assets.cache
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.csproj.AssemblyReference.cache
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.csproj.CoreCompileInputs.cache
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.csproj.FileListAbsolute.txt
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.dll
/WebAppTypescript/obj/Debug/net8.0/WebAppTypescriptApi.pdb
/WebAppTypescript/obj/Debug/net8.0/refint/WebAppTypescriptApi.dll
/WebAppTypescript/obj/Debug/net8.0/ref/WebAppTypescriptApi.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/WebAppTypescript/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/WebAppTypescript/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/WebAppTypescript/bin/Debug/net8.0/Typescript.Identity.dll
/WebAppTypescript/bin/Debug/net8.0/Typescript.Identity.pdb
/WebAppTypescript/bin/Debug/net8.0/WebAppTypescriptApi.deps.json
/WebAppTypescript/bin/Debug/net8.0/WebAppTypescriptApi.dll
/WebAppTypescript/bin/Debug/net8.0/WebAppTypescriptApi.exe
/WebAppTypescript/bin/Debug/net8.0/WebAppTypescriptApi.pdb
/WebAppTypescript/bin/Debug/net8.0/appsettings.Development.json
/WebAppTypescript/bin/Debug/net8.0/appsettings.json
